<div class="dashboard-layout">
  <app-sidebar></app-sidebar>
  <div class="dashboard-main">
    <app-header
      [searchTerm]="searchTerm"
      (searchTermChanged)="onSearch($event)"
      (clearSearchTriggered)="clearSearch()"
    ></app-header>
    <div class="panels-container">
      <app-note-list
        [filteredNotes]="filteredNotes"
        [selectedNote]="selectedNote"
        (noteSelected)="selectNote($event)"
        (createNote)="showCreateForm()"
      ></app-note-list>
      <div class="note-details-panel">
        <div *ngIf="showForm">
          <app-note-create
            (saveNote)="onSaveNote($event)"
            (cancel)="cancelCreateForm()"
          ></app-note-create>
        </div>
        <div *ngIf="!showForm && selectedNote; else noNote">
          <h2>{{ selectedNote.title }}</h2>
          <p class="note-tags">Tags: {{ selectedNote.tags.join(', ') }}</p>
          <p class="note-date">Last edited: {{ selectedNote.createdAt | date: 'dd MMM yyyy' }}</p>
          <p class="note-content">{{ selectedNote.content }}</p>
        </div>
        <ng-template #noNote>
          <div class="no-notes">Select a note to view details.</div>
        </ng-template>
      </div>
      <div class="actions-panel">
        <div class="actions">
          <button class="btn" (click)="archiveNote(selectedNote?.id)" [disabled]="!selectedNote || showForm">
            <img src="assets/images/icon-archive.svg" alt="archive icon"> Archive Note
          </button>
          <button class="btn danger" (click)="deleteNote(selectedNote?.id)" [disabled]="!selectedNote || showForm">
            <img src="assets/images/icon-delete.svg" alt="delete icon"> Delete Note
          </button>
        </div>
      </div>
    </div>
  </div>
</div>