<aside class="sidebar">
  <div class="logo">
    <img src="assets/images/logo.svg" alt="Logo" />
  </div>

  <nav class="nav-links">
    <a routerLink="/notes" routerLinkActive="active"><img src="assets/images/icon-home.svg" alt="home icon"> All Notes</a>
    <a routerLink="/archived" routerLinkActive="active"><img src="assets/images/icon-archive.svg" alt="archive icon"> Archived Notes</a>
  </nav>

  <div class="tags-section">
    <h3>Tags</h3>
    <ul class="tags-list">
      <li *ngFor="let tag of tags">
        <img src="assets/images/icon-tag.svg" alt="tag icon">
        <button (click)="onTagClick(tag)" tabindex="0">{{ tag }}</button>
      </li>
    </ul>
  </div>
</aside>
